*{margin:0;padding:0;border:0;background-repeat:no-repeat;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;position:relative}
table{border-collapse:collapse;border-spacing:0}
article, aside, details, figcaption, figure,footer,header,hgroup,main,nav,section{display:block}
ol, ul{list-style:none}
html{height:101%;text-rendering:optimizeLegibility;-webkit-font-smoothing:antialiased}
body{border-top:6px solid #e64010;font-family:"museo-sans", sans-serif;font-style:normal;font-size:1em;line-height:26px;color:#777;width:100%;margin:0 auto;padding:0 0 100px 0;min-height:101%;overflow:scroll;background:#fff}
.ie7 body{padding-bottom:600px}
.main{width:100%;margin:100px auto 0 auto;padding-bottom:50px}
@font-face{font-family:'texniq';src:url('../fonts/texniq.eot');src:url('../fonts/texniq.eot?#iefix') format('embedded-opentype'),url('../fonts/texniq.woff') format('woff'),url('../fonts/texniq.ttf') format('truetype'),url('../fonts/texniq.svg#texniq') format('svg');font-weight:normal;font-style:normal}
[data-icon]:before, .blog article h1:before{font-family:'texniq';content:attr(data-icon);speak:none;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased}
.cf:before,.cf:after{content:" ";display:table}
.cf:after{clear:both}
.header{width:100%;height:auto;margin:0;text-align:center;}
.lang_switch{position:absolute;top:10px;right:20px;color:#e64010;z-index:9999;width:40px;height:40px;}
.lang_switch span{width:20px;margin:0 0 0 10px}
.lang_switch span.active{display:none}
 .nav_mobile {position: relative;width: 100%;color: #888;font-size: 1.8em;font-weight: normal;line-height: 35px;height: 35px;z-index: 999;padding: 0 10px;display: block;text-align:left;}
.vh {margin: -1px;padding: 0;border: 0;clip: rect(0 0 0 0);height: 1px;width: 1px;overflow: hidden;position: absolute;}
a.logo {width:100%;position:absolute;top:50px;left:0px;margin:0 auto;z-index:999;}
.nav_mobile.trigger {width:100%;margin:0;display:none;}
@media screen and (max-width: 768px){.nav_mobile.trigger {display:block}}
.nav_mobile.trigger:before{content:''}
.menu, .social{margin:0 auto 0 auto;width:100%;z-index:99;overflow:visible;padding:0 0 25px 0}
.menu.toggle_container{padding:170px 0 0 0;}
.lte .menu.toggle_container{margin-top:170px;}
.social {padding:0;margin-top:40px;}
.ie8 .menu{padding-top:0;}
.menu ul,.social ul{text-align:center}
.menu ul li{display:inline-block;margin:0;width:75px}
.social ul li{display:inline-block;margin:0;width:55px}
.social ul li {margin-right:12px}
.social ul li:last-child {margin-right:0;}
.ie7 .menu ul li{display:inline;zoom:1}
.menu ul li:first-child{margin:0}
.menu ul li a,.social ul li a{display:block;font-size:1.563em;width:70px;height:70px;line-height:75px;background-color:#f0f0f0;-moz-border-radius:50%;-webkit-border-radius:50%;border-radius:50%;margin:0 auto}
.social ul li a{width:55px;height:55px;line-height:55px;}
.menu ul li a span[data-icon],.social ul li a span[data-icon]{display:block;width:70px;height:70px;color:#270900;border-bottom:none;line-height:70px;-webkit-transition:all 0.4s ease-in;-moz-transition:all 0.4s ease-in;transition:all 0.4s ease-in}
.social ul li a span[data-icon]{width:55px;height:55px;line-height:55px;}
.menu ul li a span[data-icon]:hover, .menu ul li a span[data-icon].active{color:#e64010}
.menu ul li a:focus span[data-icon]{background:#fff;color:#e64010;margin:0 0 0 -1px}
.menu ul li:before,.social ul li:before{content:''}
.menu ul li a span:first-child{position:absolute;left:50%;bottom:0;z-index:-1;width:70px;opacity:0;margin:0 0 0 -35px;text-align:center;font-size:0.5em;color:#270900;-webkit-transition:all 0.4s ease-in;-moz-transition:all 0.4s ease-in;transition:all 0.4s ease-in}
.menu ul li a:hover span:first-child{opacity:1.0;bottom:50px}
.menu ul li a.active span:first-child{opacity:1.0;bottom:50px}
.menu a:focus{text-decoration:none;color:#fff;background:#dd4a38;outline:0;text-shadow:none}
.menu a:active span[data-icon]{color:#e64010}
.lte8 .menu ul li a{background-color:transparent;background-image:url('../images/navi_bg.gif');background-repeat:no-repeat;z-index:-1;cursor:pointer}
.lte8 .menu ul li a span:first-child {display:none}
.lte8 .menu ul li a.active span:first-child, .lte8 .menu ul li a:hover span:first-child{display:block}
.submenu{position:absolute;margin:0 auto;width:400px;text-align:center;z-index:999999;display:none;}
.menu ul li a.active + ul.submenu {display:block;}
.ie7 .submenu{left:0}
ul.submenu li{display:inline-block;margin:0;width:100px}
.ie7 .submenu ul li{zoom:1;display:inline}
.submenu ul li a span{display:block;color:#270900;left:50%;bottom:20px;width:90px;opacity:1;margin:0 0 0 -45px;text-align:center;font-size:0.813em;border-bottom:none;position:relative;line-height:20px;text-shadow:0 1px 0 #fff;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;transition:all 0.4s ease-in}
.submenu ul li a span:hover, .submenu ul li a span.active{color:#e64010}
.submenu ul li a:hover span{color:#e64010}
.submenu ul li a.active span{color:#e64010}
.submenu li:before{content:''}
ul.submenu  li a{display:block;font-size:0.8em;width:90px;height:0px;line-height:20px;position:relative;background-color:transparent;margin:0 auto;margin:0 auto}
.submenu li a{font-size:0.813em;color:#270900;background-color:transparent;}
.submenu li a:hover{color:#e64010;background:#f0f0f0}
.submenu li a.active{color:#e64010;background:#e64010}
.submenu a.active{color:#585858}
.meta li{display:inline-block;margin:0 8px 0 0;line-height:1em}
.ie7 .meta li{display:inline;zoom:1}
.meta li:before{content:'';padding:0;margin-left:0}
.meta li:after{content:'|';margin-left:10px}
.meta li:last-child{margin:0}
.meta li:last-child:after{content:''}
.meta a li[data-icon]{font-size:1.875em;margin-right:30px}
.pagination {margin: 0 0 0 0;width: 100%;height: 40px;position: relative;margin-bottom: -70px;z-index: 999;margin-top: 20px;text-align: center;}
.pagination a{display:inline-block}
a.next{margin-right:5px}
a.next:hover {margin-right:20px;-webkit-transition:all .5s ease-in;}
a.prev{margin-left:5px}
a.prev:hover {margin-left:20px;-webkit-transition:all .5s ease-in;}
.pagination_prev{display:block;width:0;height:0;border-top:20px solid transparent;border-bottom:20px solid transparent;border-left:40px solid #e64010}
.pagination_next{display:block;width:0;height:0;border-top:20px solid transparent;border-bottom:20px solid transparent;border-right:40px solid #e64010}
nav.switch-post{display:block;z-index:99}
.switch_post a{display:block;color:#fff;font-size:1em}
.switch_post a.prev{position:fixed;left:0;top:45%;border-top:20px solid transparent;border-bottom:20px solid transparent;border-right:32px solid #e64010}
.switch_post a.next{position:fixed;right:0;top:45%;border-top:20px solid transparent;border-bottom:20px solid transparent;border-left:32px solid #e64010}
.switch_post a.prev i{position:absolute;top:-12px;left:18px}
.switch_post a.next i{position:absolute;top:-12px;right:18px}
i.left:before{font-family:'texniq';font-style:normal;content:"\48"}
i.right:before{font-family:'texniq';font-style:normal;content:"\49"}
a.prev:hover i{left:15px;color:#fff}
a.next:hover i{right:15px;color:#fff}
h1, h2, h3, h4, h5, h6{font-family:"kaffeesatz",sans-serif;font-weight:100;font-style:normal;line-height:normal}
h1{margin-bottom:40px}
h2, h3{margin-bottom:20px}
h2, h3{margin-top:20px}
h1{font-size:3.2em;color:#e64010}
#Impressum h1{margin-bottom:80px}
.blog > h1:first-child{padding-bottom:30px;padding-top:30px}
article h1{font-size:2em;padding-top:30px;margin-bottom:10px}
.blog article h1 {padding-top:0}
h2{font-size:1.5em;font-weight:100;color:#e64010}
h2#slogan{text-align:center}
h3{font-size:1.3em;color:#222}
h3.cat{font-size:1.0em}
h4{color:#666;font-weight:normal}
p{margin-bottom:20px}
p.orange{clear:both;color:#e64010}
a{color:#e64010;text-decoration:none;cursor:pointer}
a,a:hover,a:active,a:visited{outline:0px}
a:hover{color:#ccc;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;transition:all 0.3s ease-in}
li{margin-left:30px}
li:last-child,pre{margin-bottom:10px}
ul li:before, ul.tabs ul ul li:before{font-family:'texniq';content:"\4c";padding-right:25px;color:#e64010;margin-left:-30px} 
ul li li:before{color:#cccccc} 
ol{list-style:none;padding:0;margin-bottom:1em;text-shadow:0 1px 0 rgba(255,255,255,.5)}
ol > li{list-style-type:none;/* Keep using default numbering for IE6/7 */counter-increment:list;padding-left:2em;line-height:1.4em;margin-bottom:0.5em;margin-left:0}
ol > li:after{content:counter(list) ".";position:absolute;left:-1em;width:2em;text-align:right;color:#e64010;font-weight:bold;top:0}
ol > ul{margin-left:35px}
ul.tabs ul > li{margin:0}
ul.tabs > ul li:before{content:''}
ul.tabs ul ul{margin-bottom:20px}
ul.tabs ul ul li{margin-left:60px}
ul.tabs ul li > p, ul.tabs ul ul li{display:none}
ul.tabs h2 a.active + ul.tabs ul li p{display:block}
.home{text-align:center}
.home h1{position:absolute;top:200px;left:150px;font-size:1.5em;line-height:normal;margin:0;font-weight:100;text-align:left}
.home h2{position:absolute;top:150px;left:150px;font-size:1.2em;line-height:normal;margin:0;font-weight:100;text-align:left}
.ie .home h1{left:200px;top:250px}
.ie .home h2{left:200px;top:200px}
.home span[data-icon]{display:block;color:#e64010;font-size:25em;-webkit-animation:rotate360 2s ease-out 1;-moz-animation:rotate360 4s 0s ease-in 1;-o-animation:rotate360 4s 0s ease-in 1;animation:rotate360 4s 0s ease-in 1}
.ie7 .home p{zoom:1;margin-top:100px;clear:both}
.ie7 .home p:first-child{width:100%;}
.ie7 .home p span{margin-top:180px}
section, .content{width:90%;margin:0 auto;max-width:840px}
.blog{padding-left:70px}
article{margin:0 auto 30px auto}
.single-article img{max-width:100%;margin:15px 0}
article.content{padding:40px 0 70px 70px;margin:0 auto;height:auto}
article.content.single-article{width:80%;max-width:840px;padding-bottom:10px;}
span.feed:before{font-family:'texniq';content:'M';padding-right:10px}
ul#article-tags{display:inline-block;float:left;padding-left:25px}
#article-tags li{display:inline-block;width:auto;height:25px;margin:0;line-height:16px;font-weight:100}
#article-tags li:first-child{position:absolute;left:-0px;}
.lte8 #article-tags li{display:inline}
#article-tags li:before{content:'';padding:0;margin:0}
#article-tags li span:first-child{padding:0;}
#article-tags li span{padding:0 7px 0 7px}
#articles-tags span[data-icon]{display:inline-block;width:15px;height:15px;padding-right:5px}
#article-tags li:last-child span{display:none}
a.tweetbutton{display:inline-block;float:right}
a.permalink{display:inline-block;float:right;padding-right:10px;}
time{position:absolute;top:0px;left:-70px;font-size:0.8em;padding:2px;width:45px;height:45px}
/*.single time{top:38px}*/
time span{display:block;text-align:center;line-height:14px}
.blog article time span.day{font-weight:bold}
.single-article time{left:0;top:65px}
.numbered_navigation {margin: 20px auto 0 auto; text-align:center;}
.numbered_navigation a {font-weight:700;} 
.numbered_navigation a.active {color:#cccccc;}
.portfolio{padding-top:30px;max-width:1000px}
.portfolio-item{max-width:800px}
.portfolio h1{font-size:1.5em;;padding:15px 0 0 0}
.portfolio ul{clear:both}
.portfolio h2{font-size:1.2em;font-weight:300;padding-bottom:0px;clear:both;margin-bottom:7px}
#portfolio ul li{display:inline-block;width:30%;margin:0 3% 15px 0;vertical-align:top}
.ie #portfolio ul li{float:left}
#portfolio ul li:before{content:""}
#portfolio ul li:last-child{margin-right:0}
.portfolio p{-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto}
.portfolio p:first-child{margin-bottom:30px;text-align:center}
.portfolio h1:nth-child(2){margin-bottom:20px;clear:both}
.portfolio-item h1{font-size:3.2em}
.portfolio-item h2{font-size:1.5em}
blockquote{padding:5px 10px;border-left:7px solid #e64010;margin:30px 0 20px 0}
blockquote h2{margin-top:0}
blockquote p:last-child{text-align:left;margin-bottom:0}
span.error[data-icon]{color:#e64010;font-size:25em}
/*.error h1{text-align:center;padding:0;margin:0}
.error h2{text-align:center}
.error p{text-align:center}
.error{padding-top:80px} */
.wrapper {max-width:800px;margin:0 auto;}
.sitemap {width:40%;float:left;}
.sitemap h1{padding-bottom:0}
.sitemap h4{padding-left:30px}
.tagcloud {float:right;width:40%;}
.tagcloud ul li {line-height:0 !important;display:inline-block;margin:0 7px 20px 0;font-size:0.75em;}
.tagcloud ul li a {padding:3px;/*border:1px solid #e64010;-webkit-border-radius:4px;-moz-border-radius:4px;-border-radius:4px;*/}
.tagcloud ul li:before {content:'';}
footer{margin:0;font-size:0.813em;color:#ccc;width:100%;position:absolute;bottom:0;background-color:#585858;height:100px}
.ie7 footer{height:100px}
footer .about{width:90%;max-width:450px;margin:0 auto;padding:20px 0 20px 0;height:auto;}
footer .text{min-height:170px}
/*footer .social{position:absolute;top:50px;right:00px;}*/
footer .text p{font-weight:300;}
footer a{color:#fff}
footer a:hover{color:#ccc}
.colophon{width:90%;max-width:450px;margin:0 auto}
.colophon p{margin:0; padding:15px;}
.icons li span[data-icon]{color:#666666}
.icons li a:hover span[data-icon]{color:#e64010}
.search input{background:#666666;width:100%;padding:5px 15px;height:40px;font-size:0.938em;outline:0px none;border-radius:0px;-webkit-appearance:none;-moz-appearance:none;cursor:pointer;transition:all 0.3s ease-in 0s;color:#270900}
.search-label{border:0px none;height:1px;margin:0;overflow:hidden;padding:0px;position:absolute;width:1px}
input.searchword[placeholder]:before{font-family:'texniq';content:'6';padding-right:10px;margin-top:8px;float:left}
.separator{display:block;width:50%;height:1px;background-color:#ccc;margin:20px auto}
img{outline:0;border:0;max-width:100%}
iframe.map{width:100%;height:300px;margin:20px auto 25px}
.fadeIn{-webkit-animation:fadeIn 2s 1 ease-in normal both;-moz-animation:fadeIn 2s 0s 1 ease normal both;animation:fadeIn 2s 0s 1 ease normal both;-webkit-backface-visibility:hidden}

table{width:100%;text-align:left}
th, td{padding:5px 20px 5px 0;width:auto}
.trigger{color:#e64010;cursor:pointer;margin:0 0 30px 0;padding:5px 0 5px 30px;width:80%}
.trigger:before{font-family:'texniq';font-weight:100;font-size:0.6em;content:"\4a";color:#e64010;padding:0 20px 0 0;margin:0 0 0 -30px}
.trigger_active{color:#333}
.toggle_container{padding:0;width:80%}
.toggle_container p:first-child{text-align:left}
.browserupdate{background:#e64010;color:#fff;font-size:0.875em;text-align:left}
pre{font-family:"Monaco", "Courier", monospace;overflow:auto;background:#fbfbfb;/*-webkit-box-shadow:rgba(0,0,0, .05) 0px 2px 10px inset;-moz-box-shadow:rgba(0,0,0, .05) 0px 2px 10px inset;-o-box-shadow:rgba(0,0,0, .05) 0px 2px 10px inset;box-shadow:rgba(0,0,0, .05) 0px 2px 10px inset;*/padding:20px;font-size:0.813em;line-height:22px;margin-bottom:20px;border-left:3px solid #ccc;white-space:pre}
iframe.optout{width:100%;border:none;font-size:200%;height:auto}
iframe.optout body{border-top:none;overflow:visible}

@media all and (max-width:980px){
    #portfolio ul li{display:block;width:100%;margin:0 0 70px 0}
    .home h1, .home h2{left:100px}}

                
@media all and (max-width:730px){
	.main{margin:50px auto 0 auto;}
    time, .single-article time{position:relative;left:0;top:0}
    time span{display:inline}                              
    .blog, article.content{padding-left:0}
    .single-article{width:90%}
    .home h1, .home h2{left:50px}
    .nav_mobile {display:block;}
    .nav_mobile.trigger {margin-bottom:20px;}
    .menu.toggle_container {padding: 0;}
    .header {height:auto;}
    a.logo{position:relative;top:20px}                         
    
    .menu{margin:0 auto 20px auto;width:100%;z-index:8888;overflow:visible;position:relative;padding:0;background:#ffffff}
    .menu ul{text-align:left}
    .menu ul li{display:block;margin:0;width:100%;border-bottom: 1px solid #eeeeee;line-height:.4em}              
    .menu ul li a{line-height:1em;display:block;width:100%;height:40px;line-height:40px;background-color:transparent;margin:0 auto;padding:0 20px;-webkit-animation:height 1s ease-in}
    .menu ul li a span[data-icon]{display:none;}
    
    .menu ul li a span:first-child{margin:0;position:relative;left:0;bottom:0;opacity:1;font-size:0.8em;color:#270900;-webkit-transition:all 0.4s ease-in;-moz-transition:all 0.4s ease-in;transition:all 0.4s ease-in}
    .menu ul li a:hover span:first-child{bottom:0}
    .menu ul li a.active span:first-child{bottom:0}
    .menu a:focus{text-decoration:none;color:#fff;background:#dd4a38;outline:0;text-shadow:none}
    .menu a:active span[data-icon]{color:#e64010}
    /*.header a.logo{width:100%;position:absolute;top:200px;left:0;text-align:center}*/
    .submenu {position:relative;width:100%}
	.menu ul li a + ul.submenu {display:block;}
    .submenu li {padding-left:20px;}
    ul.submenu li a{font-size:1.250em;}
   
    .submenu li a:hover{background:none;-webkit-border-radius:none;-moz-border-radius:none;border-radius:none;}     .submenu li a.active{background:none;}         
    .submenu li:last-child{border:none}                            }

@media screen and (max-width:600px){
        body{padding:0 0 100px 0}	
        /*.header{height:225px}*/
        .portfolio-item h1{font-size:2.2em}
        article.content.single-article {width:90%;}
        .switch_post a{display:block}
        .switch_post a.prev{left:0;top:70%;border-top:10px solid transparent;border-bottom:10px solid transparent;border-right:20px solid #e64010}
        .switch_post a.next{right:0;top:70%;border-top:10px solid transparent;border-bottom:10px solid transparent;border-left:20px solid #e64010}
        .switch_post a.prev i{font-size:12px;top:-12px;left:10px}
        .switch_post a.next i{font-size:12px;top:-12px;right:10px}
        a.prev:hover i{left:7px}
        a.next:hover i{right:7px}
        h1{font-size:2.5em;line-height:1em}
        section h1{padding-bottom:0}
        img{max-width:80%}
        img#logo{width:130px;height:auto}
        .home{padding-top:20px}
        .home h1, .home h2{position:relative;margin:0 auto;top:0;left:0;font-size:1em;font-weight:100;text-align:center}
        .home h1{font-size:1.4em;margin-bottom:10px}
        .home h2{margin-bottom:10px}
        .home span[data-icon]{font-size:8em}
        footer{height:100px;padding:0 10px 0 10px}footer .about{width:100%;height:auto}
        .colophon{width:100%}
        .trigger{width:100%}
        .trigger:before{padding:0 20px 0 0;margin:0 0 0 -30px}
        .toggle_container{width:100%}
                                                   
}
                                                
                                                
@media screen and (max-width:400px){
       /* .header{height:255px;}*/}
                                                                
@media screen and (max-device-width:400px){
body{padding-bottom:100px;}
footer{height:100px}
.nav_mobile.trigger {margin-bottom:0;}
.menu {margin-top:10px;}	
.home{margin-top:0;padding-top:2em}
.home h1, .home h2{position:relative;margin:0 auto;top:0;left:0;font-size:1em;font-weight:100;text-align:center}
.home h1{font-size:1.4em;margin-bottom:10px}
.home h2{margin-bottom:10px}
.portfolio{padding-top:50px;}
.portfolio-item{padding-top:50px}
article.content{padding-top:20px}
article.content.single-article {width:90%;}
.meta li{margin:0} .colophon p{margin:0 0 10px 0}
footer .text p{line-height:1.3em}
}


@-webkit-keyframes fadeIn{
	0%{opacity:0}100%{opacity:1}}
	@-moz-keyframes fadeIn{0%{opacity:0}100%{opacity:1}}
	@-o-keyframes fadeIn{0%{opacity:0}100%{opacity:1}}
	@keyframes fadeIn{0%{opacity:0}100%{opacity:1}}
@-webkit-keyframes rotate360{
	0%{-webkit-transform:rotate(0deg)}
	20%{-webkit-transform:rotate(300deg)}
    100%{-webkit-transform:rotate(360deg)}
    }
	@-moz-keyframes rotate360{
	0%{-moz-transform:rotate(0deg)}
	100%{-moz-transform:rotate(360deg)}}
	@-o-keyframes rotate360{
	0%{-o-transform:rotate(0deg)}
	100%{-o-transform:rotate(360deg)}}
	@keyframes rotate360{
	0% {transform: rotate(0deg)}
	100%{transform:rotate(360deg)}}
@-webkit-keyframes height {
	0% {
		height: 0;
	}
	100% {
		height: 1.4em;
	}
}
@-moz-keyframes height {
	0% {
		height: 0;
	}
	100% {
		height: 1.4em;
	}
}
@-o-keyframes height {
	0% {
		height: 0;
	}
	100% {
		height: 1.4em;
	}
}
@keyframes height {
	0% {
		height: 0;
	}
	100% {
		height: 1.4em;
	}
}


/* Kirby Wiki */
.wikiwrapper {width:90%;margin: 190px auto 0 auto;}
.wiki-nav{padding:10px 2% 0 0;display:inline-block;width:35%;}
.wiki-nav li {font-weight:700;margin-left:0;}
.wiki-nav li.depth-2 {margin-left:10px;}
.wiki-nav li:before{content:'';padding-right:0px;}
.wiki-nav li a {display:block;border-bottom:1px solid #eeeeee;padding:5px 10px 5px 0;}
.kirby {display:inline-block;vertical-align:top;}
main.kirby {width:63%;margin:0 auto;} 
main.kirby article > h1 {padding-top:0;}
section.kirby{width:100%;}
.kirby .single-article{margin:0;}
.kirby article.content.single-article {width:100%;padding-top:0;}
.kirby .single-article time {top:0px;}
.nav_trigger {display:none;width:100%;}
@media screen and (max-width:900px){
.nav_trigger {display:block;}  
.wiki-nav{padding:10px 2% 0 2%;display:inline-block;width:100%;}
main.kirby {width:98%;margin:0 auto;padding-top:25px;} 
.wiki-nav.hide {display:none;overflow:hidden;padding:0}
}
@media screen and (max-device-width:900px){
.nav_trigger {display:block;}  
.wiki-nav{padding:10px 2% 0 2%;display:inline-block;width:100%;}
main.kirby {width:98%;margin:0 auto;padding-top:25px;} 
.wiki-nav.hide {display:none;overflow:hidden;padding:0}
}
@media screen and (max-width:730px){
.wikiwrapper {margin:70px auto 0 auto;}}
@media screen and (max-device-width:400px){.wikiwrapper {margin: 50px auto 0 auto;}}

